{
  "printWidth": 120,
  "endOfLine": "auto",
  "singleQuote": true,
  "trailingComma": "none",
  "useTabs": true,
  "bracketSameLine": true,
  "singleAttributePerLine": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "semi": true,
  "htmlWhitespaceSensitivity": "ignore"
}
