<!doctype html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Document</title>

		<!-- build:css /assets/style.min.css -->
		<link
			rel="stylesheet"
			href="/assets/style.css" />
		<!-- /build -->
	</head>
	<body>
		<main>
			<nav class="navbar navbar-expand-sm navbar-light bg-light">
				<div class="container">
					<a
						class="navbar-brand"
						href="/">
						Navbar
					</a>
				</div>
			</nav>

			<section class="container"><%= contents %></section>
		</main>

		<!-- build:js /assets/index.min.js -->
		<script src="/assets/index.js"></script>
		<!-- /build -->
	</body>
</html>
